html {
  box-sizing: border-box;

  // Prevent font size inflation
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-y: auto;
  scroll-behavior: smooth;

  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-heading);

  // improve text rendering
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

*::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: all;
  color: currentColor;
}

// Remove list styles on ul, ol elements with a class attribute
ul[class],
ol[class] {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
