// Colors
$color-background: #ffffff;
$color-background-dark: #09090a;
$color-foreground: #000000;
$color-foreground-dark: #f7f7f7;
$color-card-background: #ffffff;
$color-card-background-dark: #111112;
$color-card-border: #f6f7f8;
$color-card-border-dark: #1a1a1b;
$color-gray-1: #d2d4d9;
$color-gray-2: #888a8c;
$color-gray-1-dark: #828485;
$color-gray-2-dark: #575859;
$color-gray: #f2f4f7;
$color-gray-dark: #414141;
$color-gray-disabled: #3a393c;
$color-primary: #4572d9;
$color-white: #ffffff;
$color-black: #000000;

// System Colors
$color-correct: #528d4e;
$color-almost: #b49f39;

// Border Radius
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

// Typography
$font-description: "Roboto", sans-serif;
$font-heading: "Montserrat", sans-serif;

// Breakpoints
$breakpoint-small: 700px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$breakpoint-xl: 1536px;
